<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
        form{
            font-size: large;
            color: black;
        }
        table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
      
    </style>

<head>
<meta charset="ISO-8859-1">
<title>Indium Courier</title>
<a href="/">
<img src="" th:src="@{/image/logo.png}" alt="Sorry"  width="200" 
     height="100">
    </a>
 <h1 style="text-align: center;">INDIUM COURIER</h1>
  
 
 <div style="background-color: cornflowerblue; font-size: x-large;">
            <pre>
         About Us       Products        corporate-booking       Customer Support        Help        Careers         <a href="admin">admin login</a>
            </pre>


        </div>
        
        <marquee  direction="left" onmouseover="this.stop();" onmouseout="this.start();" style="background-color: rgb(150, 240, 240); font-size: large; color: darkred;">
            For more details feel free to contact us on out Toll free number 1800 200 500. Need a personal consulation on courier booking visit to your nearest branch. Indium Courier never asks your credit/debit card details over the phone. For doorstep pickup register on the website using your Login Credentials.
        </marquee><br><br><br><br><br>
        
</head>
<body style="background-color: white;">
<center>
<table style="width:90%">
	<thead>
		<tr>
			<th>id</th>
			<th>sender name</th>
			<th>sender mobile number</th>
			<th>pick-up adddress</th>
			<th>receiver name</th>
			<th>receiver mobile number</th>
			<th>delivery address</th>
			<th>status</th>
			<th>booking id</th>
			<th>user name</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="booking:${bookings}">
		<td th:text="${booking.id}"></td>
		<td th:text="${booking.sName}"></td>
		<td th:text="${booking.sNumber}"></td>
		<td th:text="${booking.pickup}"></td>
		<td th:text="${booking.rName}"></td>
		<td th:text="${booking.rNumber}"></td>
		<td th:text="${booking.delivery}"></td>
		<td th:text="${booking.status1}"></td>
		<td th:text="${booking.bookid}"></td>
		<td th:text="${booking.username}"></td>
		</tr>
	</tbody>
</table>
</center><br><br><br>
<a href="/" style="background-color: aqua;text-align: center; font-size: larger;">click here to go to home page </a>
</body>
<footer>
        <marquee  direction="left" onmouseover="this.stop();" onmouseout="this.start();">
       	    <a href="home.html"><img src="" th:src="@{/image/banner37.jpg}" alt="banner37" ></a>
            <a href="home.html"><img src="" th:src="@{/image/banner35.jpeg}" alt="banner35" ></a>
            <a href="home.html"><img src="" th:src="@{/image/banner34.jpg}" alt="banner34"></a>
            <a href="home.html"><img src="" th:src="@{/image/banner36.jpg}" alt="banner36"></a>
        </marquee>
        
        <div style="background-color: aqua;text-align: center; font-size: larger;">
            ALL RIGHTS RESERVED  @<a href="#">INDIUM COURIER 2022</a>

        </div>


    </footer>

</html>